html 
    head 
        title Admin Signup 
        meta(charset= "UTF-8")
        meta(name="viewport" , content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" , href="")
    body 
        header 
            h2 Admin signup 
        form(method="post", action="/admin/signup")
            input(type="text" placeholder="Enter Your Name")
            input(type="email" placeholder="Enter Your E-mail")
            input(type="password" placeholder="Enter Your Password")
            button(type="submit" name="signup") signup